@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#root",
  $enable-semantic-container: true,
  $theme-color: "jade"
);

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}